.navbar{
    width: 100%;
    height: 47px;
    display: flex;
    background: #0000007D;
}

.brand_section{
    /* background: #0000007D; */
    width: 50%;
    height: 100%;
    position: relative;
}

.refresh_section{
    /* background: #0000007D; */
    width: 50%;
    height: 100%;
    position: relative;
}

.logo{
    position: absolute;
    width: 31px;
    height: 31px;
    top: 8px;
    left: 99px;
    padding: 1.29px, 1.29px, 1.29px, 3.02px;

}

.brand_name{
    position: absolute;
    width: 129px;
    height: 29px;
    top: 9px;
    left: 137px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.refresh_logo{
    position: absolute;
    width: 26px;
    height: 26px;
    top: 9px;
    right: 374px;
    padding: 2.17px, 2.17px, 2.17px, 2.17px;

}

.refresh{
    position: absolute;
    width: 53px;
    height: 18px;
    top: 14px;
    right: 314px;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


